<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="side-fragment" class="am-u-lg-4 am-u-sm-12 am-u-lg-offset-0 am-u-sm-offset-0 sidebar-container">
    <section>
        <section>
            <div class="sidebar-header">
                <span class="sidebar-header-title">
                    搜索文章
                </span>
            </div>
            <div class="sidebar-search">
                <form method="get" onsubmit="return false;" accept-charset="utf-8">
                    <div class="search-input">
                        <input type="text" name="keyword" id="searchbox" placeholder="输入关键字搜索">
                        <button type="submit" class="search-submit" onclick="search()"></button>
                        <div>
                </form>
            </div>
        </section>
        <section>
            <div class="sidebar-header">
                <span class="sidebar-header-title">
                    所有标签
                </span>
            </div>
            <div class="tags ">
                <th:block th:if="${null != Tags}">
                    <th:block th:each="Tag : ${Tags}">
                        <a rel="tag" th:href="@{'/tag/' + ${Tag.tagName}}">
                            <th:block th:text="${Tag.tagName}"></th:block>
                        </a>
                    </th:block>
                </th:block>
            </div>
        </section>
        <section>
            <div class="sidebar-header">
                <span class="sidebar-header-title">
                    所有分类
                </span>
            </div>
            <div class="tags ">
                <th:block th:if="${null != categories}">
                    <th:block th:each="category : ${categories}">
                       <a th:href="@{'/category/' + ${category.categoryId}}" class="tag tooltipped tooltipped-n">
                            <th:block th:text="${category.categoryName}"></th:block>
                        </a>
                    </th:block>
                </th:block>
            </div>
        </section>
        <section>
            <div class="sidebar-header">
                <span class="sidebar-header-title">
                    点击最多
                </span>
            </div>
            <main class="sidebar-lists">
                <ul>
                    <th:block th:if="${null != favoriteBlogs}">
                        <th:block th:each="hotBlog : ${favoriteBlogs}">
                            <li class="sidebar-list-item"><a class="tag tooltipped tooltipped-n"
                                                             th:href="@{'/blog/' + ${hotBlog.blogId}}">
                                <th:block th:text="${hotBlog.blogTitle}"></th:block>
                            </a></li>
                        </th:block>
                    </th:block>
                </ul>
            </main>
        </section>
</div>
</html>