<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.reborn.springboot.dao.BlogMapper">

    <sql id="insertFiled">blog_title,blog_sub_url,blog_cover_image,blog_content,blog_category_id,blog_category_name,
        blog_tags,blog_status,enable_comment,create_by,update_by</sql>

    <update id="deleteBlogsByPrimary" parameterType="java.lang.Integer">
        update tb_blog
        set is_deleted=1,update_time=NOW()
        where blog_id in 
        <foreach collection="array" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </update>

    <select id="findBlogList" resultType="com.reborn.springboot.entity.Blog" parameterType="java.util.Map">
        select *
        from tb_blog
        where
        <if test="keyword!=null">
            (blog_title LIKE CONCAT('%',#{keyword},'%')
            OR blog_category_name LIKE CONCAT('%',#{keyword},'%'))
            AND
        </if>
        is_deleted=0
    </select>

    <insert id="insertNewBlog" parameterType="com.reborn.springboot.entity.Blog"
            useGeneratedKeys="true" keyColumn="blog_id" keyProperty="blogId">
        insert into tb_blog(<include refid="insertFiled"></include>)
        values (#{blogTitle},#{blogSubUrl},#{blogCoverImage},#{blogContent},#{blogCategoryId},#{blogCategoryName},#{blogTags},
        #{blogStatus},#{enableComment},#{createBy},#{updateBy})
    </insert>

    <select id="getBlogByPrimary" parameterType="Long" resultType="com.reborn.springboot.entity.Blog">
        select * from tb_blog
        where blog_id=#{blogId} and is_deleted=0
    </select>

    <update id="updateBlogByPrimary" parameterType="com.reborn.springboot.entity.Blog">
        update tb_blog
        <set>
            <if test="blogTitle != null">
                blog_title = #{blogTitle},
            </if>
            <if test="blogSubUrl != null">
                blog_sub_url = #{blogSubUrl},
            </if>
            <if test="blogCoverImage != null">
                blog_cover_image = #{blogCoverImage},
            </if>
            <if test="blogContent != null">
                blog_content = #{blogContent},
            </if>
            <if test="blogCategoryId != null">
                blog_category_id = #{blogCategoryId},
            </if>
            <if test="blogCategoryName != null">
                blog_category_name = #{blogCategoryName},
            </if>
            <if test="blogTags != null">
                blog_tags = #{blogTags},
            </if>
            <if test="blogStatus != null">
                blog_status = #{blogStatus},
            </if>
            <if test="blogViews != null">
                blog_views = #{blogViews},
            </if>
            <if test="enableComment != null">
                enable_comment = #{enableComment},
            </if>
            <if test="isDeleted != null">
                is_deleted = #{isDeleted},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where blog_id=#{blogId}
    </update>
</mapper>