<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.reborn.springboot.dao.ConfigurationMapper">

    <select id="getAllConfigurations" resultType="com.reborn.springboot.entity.BlogConfiguration">
        SELECT * FROM tb_config
    </select>

</mapper>